/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

@media only screen and (max-width:600px) {
    .img {
        height: 40px;
        width: 20px;
    }
    .para {
        font-family: 'Source Sans Pro', sans-serif;
    }
    a {
        margin: 20px;
        font-weight: bolder;
        color: black;
        text-decoration: none;
    }
    .a-tag {
        text-align: right;
        text-decoration: none;
    }
    .item {
        margin-top: 20px;
        height: 100px;
        width: 200px;
    }
    .book {
        height: 350px;
        width: 200px;
    }
    .hp {
        margin-right: 725px;
        margin-top: -410px;
        float: right;
    }
    .star {
        color: goldenrod;
    }
    button {
        width: 250px;
        padding: 10px;
        color: white;
        background-color: #f2849e;
        border: none;
        font-weight: bolder;
    }
    button:hover {
        background-color: #ed4b74;
        cursor: pointer;
    }
    hr {
        margin-top: 30px;
    }
    p {
        font-weight: 40px;
    }
    .read {
        color: #202afe;
        text-decoration: none;
    }
    #star {
        color: goldenrod;
    }
    .rs {
        color: #b12704;
    }
    .icon {
        margin-left: 95%;
        float: left;
        height: 40px;
    }
}

.img {
    height: 60px;
    width: 50px;
}

.para {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    margin: 30px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.a-tag {
    text-align: right;
    text-decoration: none;
}

.item {
    margin-top: 20px;
    height: 200px;
    width: 300px;
}

.book {
    height: 450px;
    width: 300px;
}

.hp {
    margin-right: 725px;
    margin-top: -410px;
    float: right;
}

.star {
    color: goldenrod;
}

button {
    width: 250px;
    padding: 10px;
    color: white;
    background-color: #f2849e;
    border: none;
    font-weight: bolder;
}

button:hover {
    background-color: #ed4b74;
    cursor: pointer;
}

hr {
    margin-top: 30px;
}

p {
    font-weight: 40px;
}

.read {
    color: #202afe;
    text-decoration: none;
}

#star {
    color: goldenrod;
}

.rs {
    color: #b12704;
}

.icon {
    margin-left: 95%;
    float: left;
    height: 40px;
}